.apartments {
    position: relative;

    // размещаем 'III' по рамке контейнера
    &::before {
        content: "III";
        
        right: calc(50% + 555px);
        transform: translate(50%, -12.5%);
        
        @include decorNumber;
    }
}

.apartments__title {
    margin-bottom: 88px;
    
    @include mediaTablet {
        margin-bottom: 44px;

        @include mediaPhone {
            text-align: center;
        }
        // @media screen and (max-width: 640px) {
        //     text-align: center;
        // } 
    }
 }


.apartments__cards {
    display: grid;

    // для десктопа - 2 карты по 1 фрейму
    grid-template-columns: repeat(2,  1fr);

    // для мобильной, как ниже. Иначе получается три карты вряд
    // grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 30px;

    @include mediaTablet {
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));

        @include mediaPhone {
            text-align: center;
        }
        // @media screen and (max-width: 640px) {
        //     text-align: center;
        // } 
    }
}